<!DOCTYPE html>
<html>

<head>
    <title>Match record</title>
    <link rel="stylesheet" href="/style/defaultStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <style>
        th, td {
            text-align: center;
            font-size: large;
            padding: 5px;
            background: #FFFFFF;
            border-left: 2px solid rgba(0, 172, 168, 0.3);
            border-bottom: 2px solid rgba(0, 172, 168, 0.3);
        }
        th {
            background-color: rgba(0, 172, 168, 1.0);
            color: #FFFFFF;
        }
        tr{
            border-radius: 1em;
            overflow: hidden;
        }
        table {
            width:75%;
            border-radius: 1em;
            overflow: hidden;
        }
        body {
            background-image: url(../image/background/8.jpg);
            background-size: contain;
            font-family: 'Ubuntu', sans-serif;
        }
        strong {
            font-size: 20px;
            color: #FFFFFF;
            text-align: center;
        }
        caption {
            text-align: center;
        }
    </style>
</head>

<body>
    <%- include('./components/navbar') -%>
        <div>
            <table align="center" style="width:75%">
                <caption>
                    <strong style="font-size: 20px;color:#FFFFFF;text-align: center;">Match History</strong>
                    <a style="font-size: 12px;color:#FFFFFF;text-align: center;">(Last 10 Games)</a>
                </caption>
                <% if(histories.length> 10) histories.length = 10; %>
                    <tr>
                        <th>Winner</th>
                        <th>Score</th>
                        <th>VS</th>
                        <th>Loser</th>
                        <th>Score</th>
                        <th>Date</th>
                    </tr>
                    <% for (var i=0; i < histories.length;i++) { %>
                        <tr>
                            <td>
                                <%= histories[i].winner %>
                            </td>
                            <td>
                                <%= histories[i].winnerScore %>
                            </td>
                            <% if(i==0) { %>
                                <td rowspan="<%= histories.length %>"></td>
                                <% } %>
                                    <td>
                                        <%= histories[i].loser %>
                                    </td>
                                    <td>
                                        <%= histories[i].loserScore %>
                                    </td>
                                    <td>
                                        <%= histories[i].Date.toLocaleString() %>
                                    </td>
                        </tr>
                        <% } %>
            </table>
        </div>
</body>

</html>