<!DOCTYPE html>
<html lang="en">

<head>
    <title>My status</title>
    <link rel="stylesheet" href="/style/defaultStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        th, td {
            text-align: center;
        }
        table {
            background-color: #FFFFFF;
            margin: auto;
        }
        body {
            background-image: url(../image/background/8.jpg);
            background-size: contain;
            font-family: 'Ubuntu', sans-serif;
        }
    </style>
</head>

<body>
    <div>
        <%- include('./components/navbar') -%>
            <table class="table table-striped" align="center" border="1" style="width:75%;">
                <caption>
                    <strong style="font-size: 20px;color:#FFFFFF;text-align: center;">My Status</strong>
                </caption>
                <tr>
                    <th>Username</th>
                    <th>Total</th>
                    <th>Win</th>
                    <th>Lose</th>
                    <th>Winning Rate</th>
                </tr>
                <tr>
                    <td>
                        <%= users[0].username %>
                    </td>
                    <td>
                        <%= users[0].total %>
                    </td>
                    <td>
                        <%= users[0].win %>
                    </td>
                    <td>
                        <%= users[0].lose %>
                    </td>
                    <td>
                        <%= users[0].rate %>%
                    </td>
                </tr>
            </table>
    </div>
</body>

</html>