<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="/style/defaultStyle.css">
    <title>SignUp</title>
    <style>
        td {
            text-align: center;
        }
    </style>
</head>

<body>
    <div>
        <%- include('./components/navbar') -%>
            <table border="1" style="width:50%;">
                <caption>
                    <strong style="font-size: 20px;">My Status</strong>
                </caption>
                <tr>
                    <th>Username</th>
                    <th>Total</th>
                    <th>Win</th>
                    <th>Lose</th>
                    <th>Winning Rate</th>
                </tr>
                <tr>
                    <td>
                        <%= users[0].username %>
                    </td>
                    <td>
                        <%= users[0].total %>
                    </td>
                    <td>
                        <%= users[0].win %>
                    </td>
                    <td>
                        <%= users[0].lose %>
                    </td>
                    <td>
                        <%= users[0].rate %>%
                    </td>
                </tr>
            </table>
    </div>
</body>

</html>