<!DOCTYPE html>
<html>

<head>
    <style>
        .list {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <%- include('../views/scripts') -%>
        <%- include('./components/navbar') -%>
            <div class="board">
                <div class="list">
                    <div>
                        <h2>Match History</h2>
                        <% if(histories.length> 10) histories.length = 10; %>
                            <% for (var i=0, j=0; (i) < histories.length;i++) { %>
                                <a>
                                    Winner : <%= histories[i].winner %>,
                                    Loser : <%= histories[i].loser %>,
                                    MyScore : <%= histories[i].winnerScore %>
                                    Date : <%= histories[i].Date.toString() %>
                                </a>
                    </div>
                    <% } %>
                </div>
            </div>
</body>

</html>