<!DOCTYPE html>
<html>

<head>
    <style>
        td {
            text-align: center;
        }
    </style>
</head>

<body>
    <%- include('./components/navbar') -%>
        <div>
            <table border="1" style="width:50%">
                <caption>
                    <strong style="font-size: 20px;">Match History</strong>
                    <a style="font-size: 12px;">(Last 10 Games)</a>
                </caption>
                <% if(histories.length> 10) histories.length = 10; %>
                    <tr>
                        <th>Winner</th>
                        <th>Score</th>
                        <th>Versus</th>
                        <th>Loser</th>
                        <th>Score</th>
                        <th>Date</th>
                    </tr>
                    <% for (var i=0; i < histories.length;i++) { %>
                        <tr>
                            <td>
                                <%= histories[i].winner %>
                            </td>
                            <td>
                                <%= histories[i].winnerScore %>
                            </td>
                            <% if(i==0) { %>
                            <td rowspan= "<%= histories.length %>">
                                VS
                            </td>
                        <% } %>
                            <td>
                                <%= histories[i].loser %>
                            </td>
                            <td>
                                <%= histories[i].loserScore %>
                            </td>
                            <td>
                                <%= histories[i].Date.toLocaleString() %>
                            </td>
                        </tr>
                    <% } %>
            </table>
        </div>
</body>

</html>