<!DOCTYPE html>
<html>

<head>
    <title>Ranking</title>
    <style>
        td {
            text-align: center;
        }

        table {
            background-color: #FFFFFF;
        }

        body {
            background-image: url(../image/background/8.jpg);
            background-size: contain;
            font-family: 'Ubuntu', sans-serif;
        }
    </style>
</head>

<body>
    <%- include('./components/navbar') -%>
        <div>
            <table border="1" style="width:50%;float:left;">
                <caption>
                    <strong style="font-size: 20px;">High Score</strong>
                </caption>
                <% if(histories.length> 10) histories.length = 10; %>
                    <tr>
                        <th>Username</th>
                        <th>Score</th>
                        <th>Date</th>
                    </tr>
                    <% for (var i=0; i < histories.length; i++) { %>
                        <tr>
                            <td>
                                <%= histories[i].winner %>
                            </td>
                            <td>
                                <%= histories[i].winnerScore %>
                            </td>
                            <td>
                                <%= histories[i].Date.toLocaleString() %>
                            </td>
                        </tr>
                        <% } %>
            </table>
            <table border="1" style="width:50%;float:right;">
                <caption>
                    <strong style="font-size: 20px;">Winning Rate</strong>
                </caption>
                <% if(users.length> 10) users.length = 10; %>
                    <tr>
                        <th>Username</th>
                        <th>Winning Rate</th>
                    </tr>
                    <% for (var i=0; i < users.length; i++) { %>
                        <% if (users[i].rate !=0) { %>
                            <tr>
                                <td>
                                    <%= users[i].username %>
                                </td>
                                <td>
                                    <%= users[i].rate %>%
                                </td>
                            </tr>
                            <% } %>
                                <% } %>
            </table>
        </div>
</body>

</html>